<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lusa F.C. - Escalação</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header class="header-controls">
        <div class="logo-area">
            <img src="{{ url_for('static', filename='img/escudo.png') }}" alt="Lusa FC" class="escudo-topo">
            <h1>LUSA F.C. 2026</h1>
        </div>
        <div class="buttons">
            <a href="/login" class="btn-admin">⚙️ Admin</a>
            <button class="btn-sortear" onclick="realizarSorteio()">🎲 GERAR ESCALAÇÃO</button>
        </div>
    </header>

    <main class="dashboard">
        <div class="campo-wrapper">
            <div class="campo-container" id="campo-verde">
                <div class="faixa-titulo verde">
                    <h2>TIME VERDE</h2>
                </div>
                <div class="area-campo">
                    </div>
            </div>
        </div>

        <div class="campo-wrapper">
            <div class="campo-container" id="campo-branco">
                <div class="faixa-titulo branco">
                    <h2>TIME BRANCO</h2>
                </div>
                <div class="area-campo">
                    </div>
            </div>
        </div>
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
